@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}

html, body, #root{
    background-color: #222222;
    color: #C9C9C9;
    min-height: 100vh;
    margin: 0;
    font-family: Outfit, sans-serif;
}

.bg-sidebar {
    background-color: #1a1a1a;
}

.bg-secondary{
    background-color: #606060;
}

.bg-primary{
    background-color: #222222;
}

.icon-default {
    color: #bfa75d;
    transition-property: color, transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
    transform-origin: center;
}

.icon-default:hover {
    color: #c9c9c9;
    transform: scale(1.1); }

.text-gold{
    color: #bfa75d;
}

.scale-hover{
    transition: transform 0.3s ease; 
}

.scale-hover:hover{
    transform: scale(1.1);
}

.dropdown-item:hover {
    color: #1a1a1a !important;
    background-color: #C9C9C9;
}

.selected-button {
    color: #1a1a1a !important;
    background-color: #bfa75d;
}

.dropdown-menu::-webkit-scrollbar {
    width: 24px;
    /* Wider scrollbar */
    background-color: #1a1a1a;
    border-radius: 4px;
    border: 2px solid #bfa75d;
}/* Gold border around scrollbar */

.dropdown-menu::-webkit-scrollbar-track {
    background: #1a1a1a;
    /* Track is dark gray */
    border-radius: 4px;
    border: 2px solid #bfa75d;
    /* Gold border on track */
}

.dropdown-menu::-webkit-scrollbar-thumb {
    background-color: #bfa75d;
    /* Gold thumb */
    border-radius: 4px;
    border: 2px solid #1a1a1a;
    /* Dark gray border to create padding effect */
}

/* Firefox */
.dropdown-menu {
    scrollbar-width: thin;
    scrollbar-color: #bfa75d #1a1a1a;
    /* thumb is gold, track is dark gray */ }

.hover-gold-black:hover {
    background-color: #bfa75d; /* Your gold color hex */
     color: #1a1a1a;
}